<ion-header no-shadow>
  <ion-toolbar>
    <ion-title>All Tasks</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button [routerLink]="'/new-task/'" routerDirection="forward">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- possibility to filter tasks by category -->
  <ion-item lines="none" style="border-bottom: none">
    <div style="width: 52%;">
      <ion-label slot="start" class="medium-text">Filter by <span style="font-size: 1.3em;
        font-weight: bold;
        color: var(--ion-color-primary);">Category</span></ion-label>
    </div>
    <div style="width: 50%; margin: 0; justify-content: flex-end;
    display: flex;">
    <!-- select category to filter by -->
      <ion-select style="min-width: -webkit-fill-available; text-align: right;" name="category" #selCategory
        [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One">
        <ion-select-option selected>All</ion-select-option>
        <ion-select-option *ngFor="let category of categoriesService.categories">{{ category.title }}
        </ion-select-option>
      </ion-select>
    </div>
  </ion-item>

  <!-- list all tasks -->
  <ion-list lines="none" *ngIf="selCategory.value == 'All'">
    <ng-container *ngFor="let task of tasksService.tasks">
      <ion-item>
        <ion-checkbox [(ngModel)]="task.done" (click)="delete(this.task)" style="margin-right: 1em;"
          slot="start" color="primary" class="no-ripple"></ion-checkbox>
        <div style="width: 72%;">
          <ion-label style="margin-top: .5em;" class="bold-text">{{ task.title }}</ion-label>
          <ion-label style="margin: .3em 0 .5em 0;" color="medium">{{ task.category }}</ion-label>
        </div>
        <ion-label color="primary" class="time">{{ task.time }}</ion-label>
        <ion-buttons style="margin-left: 0px;" slot="end">
          <ion-button [routerLink]="'/tasks/' + task.id" color="medium">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-list>

  <!-- only list the tasks which have a matching category to the selected one-->
  <ng-container *ngFor="let task of tasksService.tasks">
    <ion-list lines="none" *ngIf="selCategory.value == 'yeeet'">
      <ion-item>
        <ion-checkbox style="margin-right: 1em;" slot="start" color="primary" (ionChange)="delete()"></ion-checkbox>
        <div style="width: 72%;">
          <ion-label style="margin-top: .5em;" class="bold-text">{{ task.title }}</ion-label>
          <ion-label style="margin: .3em 0 .5em 0;" color="medium">{{ task.category }}</ion-label>
        </div>
        <ion-label color="primary" class="time">{{ task.time }}</ion-label>
        <ion-buttons style="margin-left: 0px;" slot="end">
          <ion-button [routerLink]="'/tasks/' + task.id" color="medium">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" [routerLink]="'/new-task/'" routerDirection="forward">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>