<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="'/new-task/'" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="menu"></ion-icon>
      <ion-label>All Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label class="bold-text">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>