<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="prevDay()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>{{todayString}}</ion-title>
      <ion-button (click)="nextDay()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/new-task/'" routerDirection="forward">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab to add a Task -->
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="'/new-task/'" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>   -->

<ng-container *ngFor="let task of tasksService.tasks">
  <ion-list *ngIf="todayString == task.date">
    <!-- <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" > -->
      <ion-item button detail [routerLink]="'/tasks/' + task.id" routerDirection="forward">
        <ion-reorder slot="start">
          <!-- <ion-icon name="pizza"></ion-icon> -->
        </ion-reorder>
        <ion-label>{{ task.title }}</ion-label>
        <ion-label color="primary">{{ task.category }}</ion-label>
        <!-- <ion-label>{{ task.date }}</ion-label> -->
        <ion-label>{{ task.time }} Uhr</ion-label>
      </ion-item>
    <!-- </ion-reorder-group> -->
  </ion-list>
</ng-container>


</ion-content>