<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (input)="taskChanged()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ task.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTask()">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-list lines="none">
    <ion-item>
      <ion-input name="title" [(ngModel)]="task.title" (input)="taskChanged()"></ion-input>
    </ion-item>
    <ion-item>
      <!-- details-button -->
      <ion-label color="primary" class="bold-larger">show Details</ion-label>
      <ion-toggle #details></ion-toggle>
    </ion-item>
    <ng-container *ngIf="details.checked">
      <ion-item>
        <ion-buttons>
          <div>
            <!-- possibility to add categories while editing the task -->
            <ion-button (click)="addCategory()" class="center" size="small">
              <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
            </ion-button>
          </div>
        </ion-buttons>
        <ion-label class="bold-larger">Category</ion-label>
        <ion-select style="min-width: fit-content; text-align: right; padding-left: 0;" name="category"
          [(ngModel)]="task.category" [interfaceOptions]="customAlertOptions" interface="alert"
          placeholder="Select Category" (ionChange)="taskChanged()" [compareWith]="compareWith">
          <ion-select-option *ngFor="let category of categoriesService.categories">{{category.title}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ng-container>
  </ion-list>

<!-- details are only viewable and editable if detail-button is checked -->
  <ng-container *ngIf="details.checked">
    <ion-list lines="none">
      <ion-item>
        <!-- timing-button -->
        <ion-label class="bold-larger">Timed Task</ion-label>
        <ion-toggle #timing (ionChange)="taskChanged()" [(ngModel)]="task.timed"></ion-toggle>
      </ion-item>
      <!-- time and date are only viewable if timing-button is checked -->
      <ng-container *ngIf="timing.checked">
        <ion-item>
          <ion-label class="bold-text">Time</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="task.time" placeholder="Pick a time!"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label class="bold-text">Date</ion-label>
          <ion-datetime displayFormat="DD.MM.YYYY" (ionChange)="dateChanged()" [(ngModel)]="task.isoDate"
            placeholder="Pick a date!" min="2020-01-01"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label class="bold-larger">Notification</ion-label>
          <ion-toggle #notifications (ionChange)="setNotification()" [(ngModel)]="task.notification"
            (ionChange)="taskChanged()"></ion-toggle>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

  <!-- task description -->
  <ion-item lines="none" style="border: none;">
    <ion-textarea (input)="taskChanged()" [(ngModel)]="task.content"
      placeholder="...write something to describe your task."></ion-textarea>
  </ion-item>

</ion-content>