<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Categories</ion-label>
  <ion-list>
  <ion-item button detail *ngFor="let category of categoriesService.categories"  [routerLink]="'/category/' + category.id"
  routerDirection="forward">
    <ion-label>{{ category.title }}</ion-label>
    <!-- <ion-select name="category"  (ionChange)="categoryChanged()">
      
    </ion-select> -->
  </ion-item>
</ion-list>

  <ion-button (click)="addCategory()">Add a Category</ion-button>

  <ion-item *ngFor="let category of categoriesService.tasks">
      <ion-label>{{ category.title }}</ion-label>
      
    </ion-item>  
</ion-content>
