<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-buttons style="display: flex; justify-content: space-between;">
    <div>
      <ion-label class="subtitle">Categories</ion-label>
    </div>
    <div>
      <ion-button (click)="addCategory()" class="center" size="small">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </div>
  </ion-buttons>

  <ion-list lines="none">
    <ion-item button detail *ngFor="let category of categoriesService.categories"
      [routerLink]="'/category/' + category.id" routerDirection="forward">
      <ion-label class="bold-text">{{ category.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>